<head>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.9.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
	<div>
		<canvas id="myChart"></canvas>
	</div>
    <script>
        var chartColors = {
	        red: 'rgb(255, 99, 132)',
	        orange: 'rgb(255, 159, 64)',
	        yellow: 'rgb(255, 205, 86)',
	        green: 'rgb(75, 192, 192)',
	        blue: 'rgb(54, 162, 235)',
	        purple: 'rgb(153, 102, 255)',
	        grey: 'rgb(201, 203, 207)'
        };

        var socket = io.connect("http://" + document.domain + ":" + location.port);
        var val;

        // データ更新
        function onRefresh(chart) {
	        var now = Date.now();
            socket.on("ack", function(d) {
                console.log("recieved ack")
                val = d.value;
            });
            socket.emit("req_data")
            chart.data.datasets.forEach(function(dataset) {
		        dataset.data.push({
			        x: now,
                    y: val
		        });
	        });
        }

        var color = Chart.helpers.color;
        var config = {
	        type: 'line',
	        data: {
		        datasets: [
                    {
			            label: 'Dataset 1 (Water Level)',
			            backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
			            borderColor: chartColors.red,
			            fill: false,
			            lineTension: 0,
			            borderDash: [8, 4],
			            data: []
		            }
                ]
	        },
	        options: {
		        title: {
			        display: true,
			        text: 'Experimental Water Level Sensor'
		        },
		        scales: {
			        xAxes: [{
				        type: 'realtime',
				        realtime: {
					        duration: 20000,
					        refresh: 1000,
					        delay: 2000,
					        onRefresh: onRefresh
				        }
			        }],
			        yAxes: [{
				        scaleLabel: {
					        display: true,
					        labelString: 'value'
				        }
			        }]
		        },
		        tooltips: {
			        mode: 'nearest',
			        intersect: false
		        },
		        hover: {
			        mode: 'nearest',
			        intersect: false
		        }
	        }
        };

        window.onload = function() {
	        var ctx = document.getElementById('myChart').getContext('2d');
	        window.myChart = new Chart(ctx, config);
        };
    </script>
</body>