<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Water Pump Controller</title>
</head>
<body>
    <h1>Water Pump Controller</h1>
    <hr>
    <h2>現在の状態</h2>
    <h3>停止中</h3>
    <hr>
    <h2>現在の設定</h2>
    <h3>ポンプ稼働時間: 2 秒, ポンプ休止時間 2 秒</h3>
    <hr>
    <h2>設定変更</h2>
    <label for="duration">ポンプ稼働時間（秒）</label>
    <input type="number" id="duration" name="duration"><br>
    <label for="duration">ポンプ休止時間（秒）</label>
    <input type="number" id="duration" name="duration"><br>
    <button type="submit" name="name" value="value">変更する</button>
    <hr>
    <button type="submit" name="name" value="value">実行開始</button>
    <button type="submit" name="name" value="value">初期状態に戻る</button>
    <button type="submit" name="name" value="value">強制終了</button>
</body>
</html>