<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML input range</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <input id="speed" max="100" min="0" type="range" value="100" /><br>
    SPEED (Duty):<span class="range-value-result">100</span>
    <script>
        $(speed).on("input", function (e) {
            var range = e.target
            $(".range-value-result").text(range.value)
        })


        const startbutton = document.querySelector(".start_button");
        const stopbutton  = document.querySelector(".stop_button");

        startbutton.addEventListener("click", startpump);
        stopbutton.addEventListener("click", stoppump);

        function startpump() {
            // ポンプの作動をスピード付きで送信
            const Http = new XMLHttpRequest();
            const url='http://192.168.1.52:8000/api/supply?duration=10';
            Http.open("GET", url);
            Http.send();
        }
        function stoppump() {
            // ポンプの作動をスピード付きで送信
            const Http = new XMLHttpRequest();
            const url='http://192.168.1.52:8000/api/stop';
            Http.open("GET", url);
            Http.send();
        }

    </script>
    <button type="button" id="req_start" class="start_button">Run</button>
    <button type="button" id="req_stop" class="stop_button">Stop</button>

</body>
</html>